openapi: 3.2.0
info:
  title: Distru Public Stock Adjustments API
  version: v1
  x-apievangelist-generated: '2026-07-18'
  x-apievangelist-method: generated
  x-apievangelist-source: https://apidocs.distru.dev
  description: 'The Distru Public API provides read and write access to a cannabis ERP: products, inventory, orders, invoices, purchases, companies, contacts, batches, packages, assemblies, strains, test results, locations, menus and more.'
  contact:
    name: Distru
    email: hello@distru.com
    url: https://www.distru.com/features/distru-api
servers:
- url: https://app.distru.com/public/v1
  description: Production
security:
- bearerAuth: []
tags:
- name: StockAdjustments
paths:
  /adjustments:
    get:
      tags:
      - StockAdjustments
      operationId: listAdjustments
      summary: List stock adjustments
      parameters:
      - $ref: '#/components/parameters/pageNumber'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          $ref: '#/components/responses/Paged'
  /adjustments/{id}:
    get:
      tags:
      - StockAdjustments
      operationId: getAdjustment
      summary: Retrieve a stock adjustment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '404':
          $ref: '#/components/responses/NotFound'
  /stock_adjustments:
    post:
      tags:
      - StockAdjustments
      operationId: createStockAdjustment
      summary: Create a stock adjustment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Resource'
      responses:
        '200':
          $ref: '#/components/responses/OK'
        '422':
          $ref: '#/components/responses/Unprocessable'
components:
  responses:
    Paged:
      description: A page of results.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Page'
    Unprocessable:
      description: Validation error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    OK:
      description: Success.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Resource'
  parameters:
    pageSize:
      name: page[size]
      in: query
      required: false
      schema:
        type: integer
        maximum: 500
      description: Page size (max 500 for most collections).
    pageNumber:
      name: page[number]
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
      description: 1-based page number.
  schemas:
    Resource:
      type: object
    Problem:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
    Page:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        next_page:
          type:
          - string
          - 'null'
          description: URL of the next page of results, or null on the last page.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key issued in the Distru app under Settings > Integrations > Distru API, sent as `Authorization: Bearer <API_KEY>`. Keys expire one year from issue date.'
